body{
    font-family: arial;
    font-weight: bolder;
    text-align: center;

}

#containerv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    
    
}

#center-text {
    text-align: center;
    font-weight: bolder;
}

#input-data:hover {
   border: 5px  solid red;
    
}
#input-data{
    height: 30px;
    width: 400px;
    font-weight: bolder;
    border: 4px solid black;
    border-radius: 50px;
    cursor: pointer;
    
    

}

#date{
   background-color: rgb(128, 0, 113);
    color: rgb(249, 248, 248);
    height: 30px;
    border: 4px solid black;
    border-radius: 50px;
    cursor: pointer;
    font-weight:bolder;


}

#date:hover{
     border: 5px  solid rgb(231, 194, 12);
     font-size: larger;

}

#addedNotification{
    font-weight: bolder;
    color: GREEN;
}

button:hover {
   border: 2px  solid rgb(239, 230, 230);
    
}

#add{
    background-color: green;
    color: rgb(249, 249, 249);
}
.deletes{
    color: rgb(249, 249, 249);
    background-color: red;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: bolder;
    cursor: pointer;

}

 